@import "variables";

.dropdown {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  .dropdown-text {
    flex: 0 1 auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
  .dropdown-toggle {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 $size-sm;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-left: .3em solid transparent;
    }
  }
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 2px;
    width: 100%;
    background-color: $white;
    border: $border;
    .dropdown-action {
      padding: $size-xs;
      border-bottom: $border;
      .form-control {
        width: 100%;
      }
    }
    .dropdown-list {
      overflow: auto;
      max-height: $size-xxl * 10;
      .dropdown-item {
        padding: $size-xs;
        white-space: normal;
        cursor: pointer;
        &:hover {
          background-color: #e0e0e0;
        }
        &.selected {
          background-color: #d3d3d3;
        }
      }
    }
  }
}