@import "variables";

.rx-grid {
  overflow: hidden;
  border: $border;
  .rx-grid-header {
    background-color: #c5c5c5;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
    border-bottom: $border;
    font-weight: bold;
    overflow: hidden;
    .rx-grid-header-container {
      .rx-grid-column-header {
        padding: $size-sm;
        border-right: $border;
        min-height: $size-xl;
      }
    }
  }
  .rx-grid-body {
    background-color: $white;
    overflow: scroll;
    .rx-grid-view {
      height: auto;
      .rx-grid-row {
        &:nth-of-type(odd) {
          background-color: #fafafa;
        }
        .rx-grid-cell {
          padding: $size-sm;
          border-bottom: $border;
          border-right: $border;
          min-height: $size-xl;
          &.modified {
            background-color: $yellow !important;
          }
          &:last-child {
            border-right: 0;
          }
          >.form-control, >.dropdown {
            width: 100%;
            margin: (-$size-sm);
          }
        }
        &:last-child {
          .rx-grid-cell {
            border-bottom: 0;
          }
        }
      }
    }
  }
}