@import "variables";

.brand {
  margin-right: $size;
  font-size: $size-xxl;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 1px 0 $white;
}

.navbar {
  display: flex;
  width: 100%;
  line-height: 1;
  padding: $size-xs 0;
  .navbar-nav {
    display: flex;
    flex-direction: row;
    .nav-item {
      padding: 0 $size;
      &.active {
        font-weight: bold;
        cursor: default !important;
        pointer-events: none;
      }
    }
  }
}

.list-style-disc {
  list-style: disc;
  margin: $size 0;
  li {
    margin-left: $size-xxl;
  }
}

.editor {
  margin: $size 0;
  padding: $size;
  border-radius: $size;
  background: $background;
  line-height: $size-xl;
}