@import "variables";

.brand {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 0 1px 0 $white;
}

.navbar {
  display: flex;
  width: 100%;
  line-height: 1;
  padding: $size-xs 0;
  .navbar-nav {
    display: flex;
    flex-direction: row;
    .nav-item {
      padding: 0 $size;
      &.active {
        font-weight: bold;
        cursor: default !important;
        pointer-events: none;
      }
    }
  }
}

#main-container {
  padding: $size;
}