@import "variables";

body {
  font-size: $font-size;
  background-color: #e8e8e8;
  font-family: tahoma, arial, verdana, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: $black;
}

header, footer {
  padding: $size;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .85);
  background-color: #d8d8d8;
  background-image: -webkit-linear-gradient(top, #e6e6e6, #efefef);
}

header {
  border-bottom: $border;
}

footer {
  border-top: $border;
}

#{$a-tags} {
  text-decoration: none !important;
  color: $black;
}

.panel-body {
  padding: $size;
  background-color: $white;
  border: $border;
}

.form-control {
  background-color: $white;
  border: $border;
  border-radius: $size-xs;
  font-size: $font-size;
  padding: $size-sm $size-xs;
  height: $size-xl;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: #a1a1a1;
  }
}

.btn {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
  color: $black;
  font-size: $font-size;
  padding: $size-xs $size;
  margin: 0 $size-xs;
  border: 1px solid #d1d1d1;
  border-radius: $size-xs;
  height: $size-xl;
  line-height: 1;
  cursor: pointer;
  &:hover {
    background-color: #f3f3f3;
    border-color: #9d9d9d;
  }
  &:active {
    background-color: #d6d6d6;
    background-image: -webkit-linear-gradient(top, #c7c7c7, #e0e0e0);
    border-color: #9d9d9d;
  }
  &:focus {
    outline: none;
  }
  &.primary {
    font-weight: bold;
  }
}