/***** SIZE *****/
$size: .75rem; /* 12px */
$size-sm: $size / 2;
$size-xs: $size / 3;
$size-lg: $size * 2;
$size-xl: $size * 3;
$size-xxl: $size * 4;
$font-size: $size / 6 * 7; /* 14px */

/***** COLOR *****/
$white: #fff;
$silver: #c5c5c5;
$night: #333;
$black: #000;
$solitude: #dfe9f6;

$bgcolor: $solitude;
$border: 1px solid $silver;
$box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px, rgba(0, 0, 0, 0.18) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 8px 50px;
$a-tags: 'a, a:active, a:hover, a:visited, a:focus';