/***** SIZE *****/
$size: .75rem; /* 12px */
$size-sm: $size / 2;
$size-xs: $size / 3;
$size-lg: $size * 2;
$size-xl: $size * 3;
$size-xxl: $size * 4;
$font-size: 1rem / 16 * 11;

/***** COLOR *****/
$white: #fff;
$silver: #c5c5c5;
$night: #333;
$black: #000;

$border: 1px solid $silver;