{
  "presets": [ "es2015", "es2017", "react" ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["babel-plugin-root-import", [{
      "rootPathSuffix": "src/"
    }, {
      "rootPathPrefix": "@",
      "rootPathSuffix": "dist/"
    }]]
  ],
  "ignore": "node_modules"
}