{
  "presets": [ "env", "react" ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["babel-plugin-root-import", [{
      "rootPathSuffix": "src/"
    }, {
      "rootPathPrefix": "@",
      "rootPathSuffix": "dist/"
    }, {
      "rootPathPrefix": "#",
      "rootPathSuffix": "example/js/app/"
    }]]
  ],
  "ignore": "node_modules"
}