.nav {
  .d-flex {
    overflow: auto;
    ul {
      list-style-type: none;
    }
  }
}

#main-container {
  > section {
    > .panel-header {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.75rem;
      border-bottom: 1px solid #d0d0d0;
    }
    > .panel-body {
      padding: 0.75rem;
      background-color: #fff;
      overflow: auto;
    }
  }
}